<p>Введите адрес... предполагается что здесь можно сделать оплату даже без логина в личный кабинет</p>
<table >
  <thead>
    <tr>
      <td>Город, поселок</td>
      <td>Улица</td>
      <td>Дом</td>
      <td>Квартира</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
      </td>

    </tr>
  </tbody>
</table>
Здесь должен быть запрос к апи с адресами, может дубльгис?
<button class="btn btn-sm" (click)="sendAdress()">Отправить данные</button>
